<section class="panel">

  <header class="panel-heading tab-bg-dark-navy-blue">
    <ul id="dash_principal_menu" class="nav nav-tabs">
      <li>
        <a data-toggle="tab" href="#home-2">
          <i id="icon" class="icon-plus"></i>
        </a>
      </li>
      <li class="active">
        <a data-toggle="tab" href="#publi-2">
          <i id="icon" class="icon-user"></i>
          Publicações
        </a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#conta-2">
          <i id="icon" class="icon-user"></i>
          Contatos
        </a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#mensa-2">
          <i id="icon" class="icon-envelope"></i>
          Mensagens
        </a>
      </li>
    </ul>
  </header>

  <div class="panel-body">
    <div class="tab-content">

      <div id="publi-2" class="tab-pane active"><!-- publicações -->
        <div class="panel-group m-bot20" id="accordion">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Collapsible Group Item #1
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse in" style="height: auto;">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>

        </div>
        <div class="panel-group m-bot20" id="accordion2">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                  Collapsible Group Item #1
                </a>
              </h4>
            </div>
            <div id="collapseOne2" class="panel-collapse in" style="height: auto;">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>

        </div>
      </div>


      <div id="conta-2" class="tab-pane ">Publicação</div>
      <div id="mensa-2" class="tab-pane ">Mensagens</div>

    </div>
  </div>
</section>
