<!--container start-->

<div class="container">

  <div class="row">
    <div class="text-center feature-head">
      <h1>welcome to flatlab</h1>
      <p>Professional html Template Perfect for Admin Dashboard</p>
    </div>
    <div class="col-lg-3 col-sm-3">
      <section>
        <div class="f-box">
          <i class=" icon-desktop"></i>

          <h2>responsive design</h2>
        </div>
        <p class="f-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
      </section>
    </div>
    <div class="col-lg-3 col-sm-3">
      <section>
        <div class="f-box active">
          <i class=" icon-code"></i>

          <h2>friendly code</h2>
        </div>
        <p class="f-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
      </section>
    </div>
    <div class="col-lg-3 col-sm-3">
      <section>
        <div class="f-box">
          <i class="icon-gears"></i>

          <h2>fully customizable</h2>
        </div>
        <p class="f-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
      </section>
    </div>
    <div class="col-lg-3 col-sm-3">
      <section>
        <div class="f-box">
          <i class="icon-gears"></i>

          <h2>fully customizable</h2>
        </div>
        <p class="f-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.</p>
      </section>
    </div>
  </div>

  <hr>

</div>

<div class="property gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 text-center">
        <img src="img/property-img.png" alt="">
      </div>
      <div class="col-lg-6 col-sm-6">
        <h1>flat &amp; modern trend design</h1>

        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantiu.</p>
        <a href="javascript:;" class="btn btn-purchase">Purchase now</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="r-work">Recent Work</h2>

      <div class="bx-wrapper" style="max-width: 1164px;">

        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 202px;">
          <ul class="bxslider" style="width: 1015%; position: relative; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-1160px, 0px, 0px);">
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone">

              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img5.jpg?timestamp=1418052270452" alt="">
                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img5.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>

            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img6.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img6.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img7.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img7.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img1.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img1.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img1.jpg?timestamp=1418052270451" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px; display: block;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img1.jpg" style="right: 85px; bottom: -80px; display: block;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img2.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px; display: block;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img2.jpg" style="right: 85px; bottom: -80px; display: block;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img3.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img3.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img4.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img4.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img5.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img5.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img6.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img6.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img7.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img7.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img1.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img1.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img1.jpg?timestamp=1418052270451" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img1.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img2.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img2.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img3.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img3.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone">
              <div class="element item view view-tenth" data-zlname="reverse-effect">
                <div data-zl-ovrolling="zl_overlay_reverse-effect" style="left: 0px; top: -212px; opacity: 0.7; display: block; background: rgb(255, 255, 255);"></div>
                <img src="img/works/img4.jpg?timestamp=1418052270452" alt="">

                <div class="mask">
                  <a data-zl-popup="link" href="javascript:;" style="left: 85px; bottom: -80px;">
                    <i class="icon-link"></i>
                  </a>
                  <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img4.jpg" style="right: 85px; bottom: -80px;">
                    <i class="icon-search"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="bx-controls bx-has-pager bx-has-controls-direction">
          <div class="bx-pager bx-default-pager">
            <div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div>
            <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div>
          </div>

          <div class="bx-controls-direction">
            <a class="bx-prev" href="">Prev</a>
            <a class="bx-next" href="">Next</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--parallax start-->
<section class="parallax1">
  <div class="container">
    <div class="row">
      <h1>“And here i am using my own lungs like a sucker. How is education supposed to make <br>
        me feel smarter?”</h1>
    </div>
  </div>
</section>
<!--parallax end-->

<div class="container">
  <div class="clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <ul class="list-unstyled">
            <li><a href="#"><img src="img/clients/logo1.png" alt=""></a></li>
            <li><a href="#"><img src="img/clients/logo2.png" alt=""></a></li>
            <li><a href="#"><img src="img/clients/logo3.png" alt=""></a></li>
            <li><a href="#"><img src="img/clients/logo4.png" alt=""></a></li>
            <li><a href="#"><img src="img/clients/logo5.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--container end-->
